@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-[#000002] flex min-h-screen min-w-full w-screen;
  }

}

/* creates style for the placeholder input text */
textarea::placeholder, input::placeholder { 
  font-weight: bold;
  font-size: medium;
  opacity: 0.5;
  color: white;
}

/* creates style for the input text */
textarea, input[type="text"] {
    font-weight: bold;
    font-size:18px;
    opacity: 1.0;
    color: white;
}
/* creates style for the input password dots */
input[type="password"] {
  font-weight: bold;
  font-size:18px;
  opacity: 1.0;
  color: white;
}

.text-button{
  color: hotpink;
}