@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-black);
    color: white;
    padding: 2rem;
  }

  h1 {
    font-family: "Poppins";
    font-size: 2rem;
    color: var(--hot-pink);
    margin-bottom: 1rem;
  }

  p {
    font-family: "Poppins";
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: var(--hot-pink);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  p {
    font-family: "Poppins";
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  input[type="radio"] {
    margin-right: 0.5rem;
  }

  button[type="submit"] {
    font-family: "Poppins";
    font-size: 1.25rem;
    background-color: var(--hot-pink);
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  button[type="submit"]:hover {
    background-color: var(--hot-pink-hover);
  }
</style>


